*.iml
.gradle
/local.properties
.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
*.jks
*.keystore
app/release/output.json
